//lead table row styles

$leadGood-color : black;
$leadFail-color : red;
$leadBad-color : purple;

.leadGood {
    color: $leadGood-color;
}

.leadFail {
    color: $leadFail-color;
}

.leadBad {
    color: $leadBad-color;
}