<div class="row" style="z-index:10;position:absolute;top:130px;right:100px;">
  <div class="large-6 columns">
    <div class="callout" id="searchMenuMain">
      <div class="row">
        <div class="large-12 columns">
          <form action="flightSearch.html" method="GET" id="destForm">
            <fieldset class="large-6 columns">
              <label>יציאה מ:
                <div class="input-group">
                  <input class="input-group-field" placeholder="תל אביב" type="text" id="origin" name="origin" list="json-datalist2">
                  <datalist id="json-datalist2"></datalist>
                  <a class="input-group-button button" onclick="page_module.submitForm()">חפש</a>
                </div>
              </label>

              <label>תאריך יציאה:
                <div class="input-group">

                  <input class="input-group-field"  type="text" id="startDate" name="sdate">
                  <a class="input-group-button button" id="dp4" data-date-format="dd-mm-yyyy" ><i class="fi-calendar"></i></a>

                </div>
              </label>

            </fieldset>

            <fieldset class="large-6 columns end">
                <label>נחיתה ב:
                  <div class="input-group">
                    <input class="input-group-field"  type="text" id="dest" name="dest" list="json-datalist">
                     <datalist id="json-datalist"></datalist>
                    <a class="input-group-button button" onclick="page_module.submitForm()">חפש</a>
                  </div>
                </label>

              <label>תאריך חזרה:
                <div class="input-group">

                  <input class="input-group-field"  type="text" id="endDate" name="edate">
                 <a class="input-group-button button" id="dp5" data-date-format="dd-mm-yyyy" ><i class="fi-calendar"></i></a>

                </div>
              </label>

            </fieldset>
          </div>
        </div>
            <div class="row">
            <div class="large-12 columns" style="height:70px;" >
            <fieldset class="large-2 columns tiny-text">
              <label>מבוגר
                <select class="tiny-text" style="height:30px;" name="Adults" id="Adults">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </label>
            </fieldset>
            <fieldset class="large-2 columns tiny-text">
              <label>צעיר
                <select class="tiny-text" style="height:30px;" name="Young" id="Young">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </label>
            </fieldset>
            <fieldset class="large-2 columns tiny-text">
              <label>ילד
                <select class="tiny-text" style="height:30px;" name="Children" id="Children">
                    <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </label>
            </fieldset>
            <fieldset class="large-2 end columns tiny-text">
              <label>תינוקות
                <select class="tiny-text" style="height:30px;"  name="Babies" id="Babies">
                    <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </label>
            </fieldset>

          </div>
        </div>
        <div class="row">
        <div class="large-12 columns" >
            <fieldset class="large-4 columns large-offset-8" style="margin-top:20px">
              <a class="button  success float-left" onclick="page_module.submitForm()">התחל חיפוש</a>
            </fieldset>


          </form>
        </div>
        </div>

      </div>
    </div>
  </div>
